@charset "utf-8";
*
{
	margin:0; padding:0;
	box-sizing: border-box;
}
header
{
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #FFFFFF;
	box-shadow: 0 5px 10px black;
	padding: 0px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}
header .logo
{
	font-weight: bolder;
	font-size: 25px;
	color: #333;
	text-decoration: none;
}
header .navbar ul
{
	list-style: none;
}
header .navbar ul li
{
	position: relative;
	float: left;
}
header .navbar ul li a
{
	font-size: 20px;
	padding: 20px;
	color: #333;
	display: block;
	text-decoration: none;
}
header .navbar ul li a:hover
{
	background: #333;
	color: #FFFFFF;
}
header .navbar ul li ul
{
	position: absolute;
	left: 0px;
	width: 200px; 
	background: #FFFFFF;
	display: none;
}
header .navbar ul li ul li
{
	width: 100%;
	border-top: 1px solid black;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul
{
	display: initial;
}
#menubar
{
	display: none;
}
header label
{
	font-size: 20px;
	color: #333;
	cursor: pointer;
	display: none;
}

#selected
{
	background-color: #B1B1B1;
	color: #333;
}

@media(max-width: 1130px)
{
	header
	{
		padding: 20px;
	}
	header label
	{
		display: initial;
	}
	header .navbar
	{
		overflow-y: scroll;
		position: absolute;
		top: 100%; left: 0; right: 0;
		background: #FFFFFF;
		border-top: 1px solid black;
		display: none;
		height: 500%;
	}
	header .navbar ul li
	{
		width: 100%;
	}
	header .navbar ul li ul
	{
		position: relative;
		width: 100%;
	}
	header .navbar ul li ul li
	{
		background: #eee;
	}
	#menubar:checked ~ .navbar
	{
		display: initial;
	}
}
